@charset "ISO-8859-1";


/* main.css */
body 
{ 
	padding-top: 50px;
	background-image: url("imgs/bgs/indexbg2.png");
 	background-size: cover;
}

.sitenameText{
	top: 30%; left: 46%; 
	position: absolute;
	color:white;
	font-family:Verdana
}

.input-group.input-group-unstyled input.form-control{
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

.movieCheckout{
	align:"center";
	valign:"center";
	font-family:Verdana;
	font-size: 18px;
}

